@import '../../../../../themes/variables';
@import '../../../../../themes/functions';

.badge{
    right: -20px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.badges{
    right: 0px;
    top: 0px;
    padding: 0px 15px;
    color: white;
    background-color:map-get($colors, third-dark);
    border-radius: vw(5) !important;
    padding: 2px 6px;
}

.root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    .tabsRoot {
        border-bottom: 1px solid #e8e8e8;
      .tabsIndicator{
        background-color : #1890ff;
        .tabRoot {
            text-transform : initial;
            min-width: 72;
            font-size: 100;
            margin-right: spacing unit($number: 4);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple UI Emoji', 'Apple Color Emoji','Segoe UI Symbol';
        }
      }
    }
}
.tab-coba{
    width: 100%;
    display: inline-flex;
    width: 165px;
    .tab-label{
        font-family: 'Lato-Bold';
        font-size: vw(22);
        line-height: vw(24);
    }
}

.tab-container{
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    flex: 1;
    padding-bottom: vw(20);
    border-bottom: 1.5px solid #E0E0E0;
    .btn-approval{
        display: flex;
        width: vw(153.22);
        height: vw(38.07);
        padding-left: 2.5%;
        font-size: vw(18);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: capitalize;
        margin-top: vw(10);
        background-color: transparent;
        color: #707070;
        background-image: url('../../../../../assets/icons/back.png');
        background-size: auto;
        background-position-x: 17%;
        background-position-y: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .btn-header{
        flex: 1;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
    }
}

.table-container{
    display: flex;
    flex-direction: column;
    position: relative;
    .data-input-container{
        display: flex;
        flex-direction: row;
        .total-input-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: vw(111.93);
            .label-header-input{
                display: flex;
                width: 306px;
                height: 89px;
                background-color: white;
                border-radius: vw(8) !important;
                box-shadow: 0px vw-tab(3) vw-tab(6) rgba(0, 0, 0, 0.161);
                .header-input{
                    flex-wrap: nowrap;
                    .input1{
                        width: 103px;
                        display: inline-flex;
                        margin-left: 22.94%;
                        margin-top: 16.72%;
                        font-size: 20px;
                        font-family: 'Lato-Bold';
                        line-height: vw(34);
                    }
                    .input2{
                        width: 103px;
                        margin-left: 22.86%;
                        font-family: 'Lato-Regular';
                        font-size: 15px;
                        line-height: vw(48);
                    }
                }
                .total-data-input{                    
                    width: 153px;
                    margin-left: 51.72%;
                    margin-top: 12.8%;
                    font-family: 'Lato-Bold';
                    font-size: 36px;
                    line-height: vw(43);
                    color: #3C3B3B;
                }
                .total-data-inputs{                    
                    width: 153px;
                    margin-left: 45.72%;
                    margin-top: 12.8%;
                    font-family: 'Lato-Bold';
                    font-size: 36px;
                    line-height: vw(43);
                    color: #3C3B3B;
                }
            }
        }
    }
    .filters-container{
        display: flex;
        flex-direction: row;
        .dropdowns-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            .dropdown-container{
                margin-left: 0.8vw;
            }
            .search-container{
                flex: 1;
                align-self: flex-end;
                margin-left: 6vw;
                display: flex;
                justify-content: flex-end;
            }
            .dropdown-container:first-child{
                margin-left: 0;
            }
            .base-button-container{
                flex: 1;
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .plannings-list-containers{
        margin-top: 6vw !important;
        .table{
            font-size: 0.5vw;
            .table-head{
                border-bottom: vw(20) solid #F4F6F8;
                padding-left: vw(5);
                .table-cell{
                    padding: 0;
                    height: vw(50);
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    font-family: 'Lato-Bold';
                    color: #3C3B3B;
                }
                .checkbox-checked-header{
                    color: #3C3B3B;
                }
            }
            .table-body{
                background-color: white;
                .table-row{
                    border-bottom: vw(5) solid #F4F6F8;
                    .table-cell{
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .checkbox-checked{
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 1025px) {
    .table-container{
        display: flex;
        flex-direction: column;
        .plannings-list-container{
            margin-top: vw-tab(50) !important;
            margin-bottom: vw-tab(20) !important;
            overflow-x: scroll;
            .table{
                font-size: vw(5);
                width: 220%;
                .table-head{
                    border-bottom: vw-tab(20) solid #F4F6F8;
                    padding-left: vw-tab(5);
                    .table-cell{
                        padding: 0;
                        height: vw-tab(50);
                        font-size: vw-tab(13) !important;
                        line-height: vw-tab(16) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                }
                .table-body{
                    background-color: #ffffff;
                    .table-row{
                        border-bottom: vw-tab(10) solid #F4F6F8;
                        .table-cell{
                            padding: 0;
                            height: vw-tab(50);
                            font-size: vw-tab(14) !important;
                            line-height: vw-tab(17) !important;
                            font-family: 'Lato-Medium';
                            color: #3C3B3B;
                        }
                        .checkbox-checked{
                            color: #3C3B3B;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) {
    .planning-list-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
}