@import '../../themes/functions';
@import '../../themes/variables';

.show-per-page{
    display: flex;
    flex-direction: row;
    .dropdown-list{
        margin: 0 vw(10) 0 vw(10);
        background-color: white;
        box-shadow: 0px vw-tab(2) vw-tab(4) rgba(0, 0, 0, 0.161);
        width: vw(100);
        min-width: vw(100);
        height: vw(35.3);
        font-size: vw(16);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        padding: 0px 2px;
    }
    .label{
        font-size: vw(16);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
    }
}