// .table-content{
//     display: flex;
//     top: 80px;
//     flex-direction: column;
//     position: relative;
//     z-index: 3;
//     .title-content{
//         display: inline-flex;
//         justify-content: space-between;
//         width: 100%;
//         .titles{
//             display: flex;
//             width: 50%;
//         }
//         .search-content{
//             flex: 1;
//             align-self: flex-end;
//             // margin-left: 20vw;
//             display: flex;
//             justify-content: flex-end;
//             margin-bottom: 2%;
//             // width: 50%;
//         }
//     }
//     .filters-content{
//         display: flex;
//         flex-direction: row;
//         .dropdowns-content{
//             // position: absolute;
//             display: flex;
//             flex-direction: row;
//         }
//     }
// }

// .row-content{ //bottom-row
//     // flex: 1;
//     display: flex;
//     flex-direction: row;
//     margin-top: vw(20);
//     width: 100%;
// }

@import '../../../../../../themes/variables';
@import '../../../../../../themes/functions';

.root {
    flex-grow: 1;
    z-index: 0;
    justify-content: center;
    align-items: center;
    .tabsRoot {
        border-bottom: 1px solid #e8e8e8;
      .tabsIndicator{
        background-color : #1890ff;
        .tabRoot {
            text-transform : initial;
            min-width: 72;
            font-size: 100;
            margin-right: spacing unit($number: 4);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple UI Emoji', 'Apple Color Emoji','Segoe UI Symbol';
        }
      }
    }
}
.tab-coba2{
    width: 100%;
    display: inline-flex;
    width: 165px;
    // align-items: center;
    // flex-direction: row; 
    // justify-content: center;
    .tab-label{
        font-family: 'Lato-Bold';
        font-size: vw(22); //vw(20)
        line-height: vw(24); // vw(24)
        // width: 165px;
        // color: #3C3B3B;
        // margin-right: 44px; // vw(50)
    }
}

.footer-container{
    // flex: 1;
    // display: flex;
    // align-self: flex-end;
    // flex-direction: row;
    // margin-top: 1vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: vw(20);
    .btn-assign{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , primary);
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-unassign{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: vw(25);
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        background: #E6E6E6;
        cursor: pointer;
    }
    .btn-assign:hover {
        background-color: map-get($colors, primary-dark);
    }
    .btn-unassign:hover{
        background-color: rgb(233, 105, 73);
    }
    .pagination{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: vw(30);
        .paging{
            display: flex;
            flex-direction: row;
            box-shadow: 0px vw(2) vw(4) rgba(0, 0, 0, 0.161);
            .page-active{
                display: flex;
                align-items: center;
                justify-content: center;
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Gotham-Regular';
                background-color: map-get($colors , primary);
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                font-family: 'Gotham-Regular';
                justify-content: center;
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive:hover{
                background-color: map-get($colors , primary);
                cursor: pointer
            }
            .next-page{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                cursor: pointer;
                .arrow-icon{
                    font-size: vw(24);
                }
            }
            .next-page:hover{
                background-color: map-get($colors , primary);
                cursor: pointer;
            }
        }
    }
}

.tab-bar{
    display: flex;
    flex-direction: row;
    // margin-left: 50vw;
    position: absolute;
    z-index: 999;
    align-self: flex-end;
}

.table-bar{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    .filters-bar{
        display: flex;
        flex-direction: row;
        .dropdowns-bar{
            // position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            .dropdown-container{
                margin-left: 0.8vw;
            }
            .approval-search-bar{
                flex: 1;
                align-self: flex-end;
                margin-left: 16vw;
                display: flex;
                justify-content: flex-end;
            }
            // .dropdown-container:first-child{
            //     margin-left: 0;
            // }
            // .base-button-container{
            //     flex: 1;
            //     align-self: flex-end;
            //     display: flex;
            //     justify-content: flex-end;
            // }
        }
    }
    .plannings-list-bar{
        margin-top: 6vw !important;
        .table{
            // display: block;
            font-size: 0.5vw;
            .table-head{
                border-bottom: vw(20) solid #F4F6F8;
                padding-left: vw(5);
                .table-cell{
                    padding: 0;
                    height: vw(50);
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    font-family: 'Lato-Bold';
                    color: #3C3B3B;
                }
                .checkbox-checked-header{
                    color: #3C3B3B;
                }
            }
            .table-body{
                background-color: white;
                .table-row{
                    border-bottom: vw(5) solid #F4F6F8;
                    // cursor: pointer;
                    .table-cell{
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .checkbox-checked{
                        color: #3C3B3B;
                    }
                }
                // .table-row:hover{
                //     background-color:map-get($colors, primary);
                // }
            }
        }
    }
}