@import '~themes/variables';
@import '~themes/functions';

.modal-container-logout{
    width: fit-content;
    height: fit-content;
    margin: auto;
    .logout-confirmation-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .confirmation-modal-logout{
            width: vw(440);
            background-color: white;
            margin: auto;
            border-radius: vw(15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: vw(15) vw(24) vw(30) vw(24);
            .confirmation-container-logout{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                .confirmation-title-logout{
                    margin: 0;
                    font-family: 'Lato-Regular';
                    font-style: normal;
                    font-weight: bold;
                    padding-top: vw(20);
                    font-size: vw(28);
                    line-height: vw(33);
                    color: #3C3B3B;
                }
                .confirmation-image-logout{
                    width: vw(200);
                    margin: vw(30) 0;
                }
                .confirmation-caption-logout{
                    margin: 0;
                    font-size: vw(20);
                    font-family: 'Lato-Regular';
                    font-style: normal;
                    font-weight: 500;
                    font-size: vw(16);
                    line-height: vw(21);
                    opacity: 0.51;
                    text-align: center;
                    color: #3C3B3B;
                }
            }
        }
    }
    .btn-row{
        flex: 1;
        display: flex;
        flex-direction: row;
        margin: vw(20) 0;
        width: 150%;
        .button-yes{
            display: flex;
            text-transform: capitalize;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: vw(45.07);
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            font-family: 'Lato-Regular';
            background-color: #F2F2F4;
            color: #1D1D1D;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-yes:hover {
            background-color: rgb(227, 227, 230);
        }
        .button-no{
            display: flex;
            text-transform: capitalize;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: vw(45.07);
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-no:hover {
            background-color: map-get($colors, primary-dark);
        }
    }
}