@import '../../themes/functions';
@import '../../themes/variables';

.assign-lifetime-modal{
    position: 'absolute';
    width: vw(400);
    height: vw(155);
    background-color: white;
    margin: auto;
    border-radius: vw(20);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: vw(30);
    .ut-underline{
        margin-top: vw(1.5);
        margin-bottom: vw(10);
        width: vw(8);
        height: vw(20);
        background-color: map-get($colors, primary);
    }
    .top-row{
        display: flex;
        justify-content: space-between;
        height: vw(30);
    }
    .teks-middle{
        margin-top: vw(10);
        display: flex;
        .teks-left{
            display: flex;
            justify-content: center;
            font-size: 12px;
        }
        .teks-right{
            margin-left: 48.5%;
            font-size: 12px;
            display: flex;
            justify-content: center;
        }
    }
    .top-midel{
        margin-top: vw(5);
        display: flex;
        height: vw(100);
        .input-left{
            display: flex;
            justify-content: center;
            width: vw(130);
            height: vw(30);

            background: #fafafa;
            -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 0 10px;
            font-size: 16px;
            color: #666;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
            line-height: 50px;
        }
        .input-right{
            margin-left: 15%;
            width: vw(130);
            height: vw(30);

            background: #fafafa;
            -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 0 10px;
            font-size: 16px;
            color: #666;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
            line-height: 50px;
        }
    }
    
    .select-input-title{
        margin: 0;
        margin-right: vw(17);
        font-weight: bold;
        font-size: 15px; 
        width: 60%;
    }

    .bottom-rows{
        display: flex;
        margin-top: vw(20);
        .btn-search{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 60%;
            width: 35%;
            height: vw(33.07) !important;
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            text-transform: none;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            border-radius: 0.4vw;
            cursor: pointer;
        }
        .btn-search:hover {
            background-color: map-get($colors, primary-dark);
        }
    }
}

