@import '../../themes/functions';
@import '../../themes/variables';

.button-inline{
    flex: 1;
    display: flex;
    flex-direction: row;
    border-radius: vw(10) !important;
    .btn-download{
        display: flex;
        // background-image: url('../../assets/icons/download.png');
        align-items: center;
        justify-content: center;
        margin-left: vw(15);
        width: vw(153.22);
        height: vw(45.07);;
        font-size: vw(13) !important;
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: white;
        text-transform: capitalize;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        cursor: pointer;
    }
    .btn-approve{
        display: flex;
        align-items: center;
        color: white;
        background-repeat: no-repeat;
        justify-content: center;
        margin-left: vw(15);
        width: vw(153.22);
        height: vw(45.07);;
        font-size: vw(18);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , third);
        text-transform: capitalize;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        cursor: pointer;
        .btn-approve .icon {
            // background: url('../../assets/icons/send.png') no-repeat;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 10px
        }  
        .button .span {
            float: left;
            width: 20px;
            height: 20px;
        }
    }
    .btn-cancel-approve{
        display: flex;
        // background-image: url('../../assets/icons/back.png');
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        margin-left: vw(15);
        width: vw(173.22);
        height: vw(45.07);;
        font-size: vw(13) !important;
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , rgba(255, 0, 0, 0.699));
        text-transform: capitalize;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        background-repeat: no-repeat;
        cursor: pointer;
    }
}