@import '../../themes/variables';
@import '../../themes/functions';

.modal-pos{
    outline: '0';
    display:flex;
    align-items:center;
    justify-content:center;
}

.button-row{
    // margin-top: vw(5);
    .btn-assigns{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(84.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , primary);
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-assigns-lifetime{
        background-image: url('../../assets/icons/filters.png');
        background-size: 8.5px;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        width: vw(124.22) !important;
        height: vw(33.07) !important;
        font-size: vw(12) !important;
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , light); 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-assigns:hover {
        background-color: map-get($colors, primary-dark);
    }
}