@import '../../themes/variables';
@import '../../themes/functions';

.modal-pos{
    outline: '0';
    display:flex;
    align-items:center;
    justify-content:center;
}

.button-rows{
    .btn-assigns{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(84.22) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: map-get($colors, primary);
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-assigns-lifetime{
        background-image: url('../../assets/icons/filters.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        width: vw(124.22) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: white; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-filter-smr{
        width: 69px;
        height: 25px;
        background-image: url('../../assets/icons/filters.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: white; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-non-filter-lifetime{
        width: vw(124.22) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: white; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-assigns:hover {
        background-color: map-get($colors, primary-dark);
    }
    .btn-filter-by-date{
        background-image: url('../../assets/icons/ic_date.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        width: vw(124.22) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: white; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-smr-date{
        background-image: url('../../assets/icons/ic_date.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        width: vw(104.22) !important;
        height: 25px;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        font-family: 'Lato-Regular';
        background-color: white; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-header{
        background-image: url('../../assets/icons/arrow.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        width: vw(124.22) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: transparent; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-header-comp{
        background-image: url('../../assets/icons/arrow.png');
        background-size: 7.5px;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        width: vw(130) !important;
        height: 25px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        font-family: 'Lato-Regular';
        background-color: transparent; 
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .global-search-sn{
        width: 95px;
        height: 25px;
        background-color: white;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
        .txt-search{
            flex: 1;
            font-size: 8px;
            line-height: 10px;
            font-family: 'Lato-Regular';
            font-weight: bold;
            padding: vw(3) vw(10) vw(4);
        }
    }
    .global-search{
        width: 89px;
        height: 25px;
        background-color: white;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
        .txt-search{
            flex: 1;
            font-size: 8px;
            line-height: 10px;
            font-family: 'Lato-Regular';
            font-weight: bold;
            padding: vw(3) vw(10) vw(4);
        }
    }
    .global-search-pk{
        width: 69px;
        height: 25px;
        background-color: white;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
        .txt-search-pk{
            flex: 1;
            font-size: 8px;
            line-height: 10px;
            font-family: 'Lato-Regular';
            font-weight: bold;
            padding: vw(3) vw(10) vw(4);
        }
    }
    .search-per-column{
        width: vw(94.22) !important;
        height: 25px;
        background-color: white;
        margin-left: vw(15);
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
        .txt-search-pk{
            flex: 1;
            font-size: 8px;
            line-height: 10px;
            font-family: 'Lato-Regular';
            font-weight: bold;
            padding: vw(3) vw(10) vw(4);
        }
    }
}