@import '../../../../../../themes/variables';
@import '../../../../../../themes/functions';

.root{
    flex-grow: 1;
    // z-index: 0;
    justify-content: center;
    align-items: center;
    .tabsRoot {
        border-bottom: 1px solid #e8e8e8;
      .tabsIndicator{
        background-color : #1890ff;
        .tabRoot {
            text-transform : initial;
            min-width: 72;
            font-size: 100;
            margin-right: spacing unit($number: 4);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple UI Emoji', 'Apple Color Emoji','Segoe UI Symbol';
        }
      }
    }
}
.tab-approval{
    // width: 100%;
    // display: inline-flex;
    // width: 165px;
    display: flex;
    .tab-label-approval{
        font-family: 'Lato-Bold';
        font-size: vw(24); //vw(22)
        line-height: vw(24); // vw(24)
    }
}

.tab-container-approval{
    display: flex;
    flex-direction: row;
    // margin-left: 50vw;
    position: absolute;
    z-index: 1; //999
    align-self: flex-end;
}

.table-container-approval{
    display: flex;
    flex-direction: column;
    position: relative;
    // z-index: 0;
    .base-button-container{
        display: flex;
        flex-direction: row;
        .approval-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: vw(41.93);
            .total-data{
                display: flex;
                // position: absolute;
                width: 306px;
                height: 89px;
                background-color: white;
                border-radius: vw(8) !important;
                box-shadow: 0px vw-tab(3) vw-tab(6) rgba(0, 0, 0, 0.161);
                .header-approval{
                    // position: absolute;
                    width: 93px;
                    flex-wrap: nowrap;
                    .header1{
                        width: 93px;
                        display: inline-flex;
                        margin-left: 17.94%;
                        // margin-right: 75.26%;
                        margin-top: 16.72%;
                        font-size: vw(25); //20px;
                        font-family: 'Lato-Bold';
                        line-height: vw(34); //24px; 
                    }
                    .header2{
                        width: 93px;
                        margin-left: 17.86%;
                        font-family: 'Lato-Regular';
                        font-size: vw(20); //15px;
                        line-height: vw(28);//18px;
                    }
                }
                .total-container{                    
                    width: 153px;
                    margin-left: 45.72%;//32.72%;
                    margin-top: 12.8%;//19.8%;
                    font-family: 'Lato-Bold';
                    font-size: vw(36);
                    line-height: vw(43);
                    color: #3C3B3B;
                }
            }
            .base-button{
                flex: 1;
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .filters-container-approval{
        display: flex;
        flex-direction: row;
        .dropdowns-container-approval{
            // position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            .dropdown-container-approval{
                margin-left: 0.8vw;
            }
            .search-container-approval{
                flex: 1;
                align-self: flex-end;
                margin-left: 10.3vw;
                display: flex;
                justify-content: flex-end;
            }
            .dropdown-container-approval:first-child{
                margin-left: 0;
            }
            .base-button-container{
                flex: 1;
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    
    .plannings-list-container{
        margin-top: 6vw !important;
        .table{
            // display: block;
            font-size: 0.5vw;
            .table-head{
                border-bottom: vw(20) solid #F4F6F8;
                padding-left: vw(5);
                .table-cell{
                    padding: 0;
                    height: vw(50);
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    font-family: 'Lato-Bold';
                    color: #3C3B3B;
                }
                .checkbox-checked-header{
                    color: #3C3B3B;
                }
            }
            .table-body{
                background-color: white;
                .table-row{
                    border-bottom: vw(5) solid #F4F6F8;
                    // cursor: pointer;
                    .table-cell{
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .checkbox-checked{
                        color: #3C3B3B;
                    }
                }
                // .table-row:hover{
                //     background-color:map-get($colors, primary);
                // }
            }
        }
    }
}

// @media (min-width: 600px) and (max-width: 1025px) {
//     .table-container{
//         display: flex;
//         flex-direction: column;
//         .plannings-list-container{
//             margin-top: vw-tab(50) !important;
//             margin-bottom: vw-tab(20) !important;
//             overflow-x: scroll;
//             .table{
//                 font-size: vw(5);
//                 width: 220%;
//                 .table-head{
//                     border-bottom: vw-tab(20) solid #F4F6F8;
//                     padding-left: vw-tab(5);
//                     .table-cell{
//                         padding: 0;
//                         height: vw-tab(50);
//                         font-size: vw-tab(13) !important;
//                         line-height: vw-tab(16) !important;
//                         font-family: 'Lato-Bold';
//                         color: #3C3B3B;
//                     }
//                 }
//                 .table-body{
//                     background-color: #ffffff;
//                     .table-row{
//                         border-bottom: vw-tab(10) solid #F4F6F8;
//                         .table-cell{
//                             padding: 0;
//                             height: vw-tab(50);
//                             font-size: vw-tab(14) !important;
//                             line-height: vw-tab(17) !important;
//                             font-family: 'Lato-Medium';
//                             color: #3C3B3B;
//                         }
//                         .checkbox-checked{
//                             color: #3C3B3B;
//                         }
//                     }
//                     // .table-row:hover{
//                     //     background-color:map-get($colors, primary);
//                     // }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 599px) {
//     .planning-list-container{
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//     } 
// }