@import '../../../../../themes/variables';
@import '../../../../../themes/functions';

@media (min-width: 1025px) {
.head-containers-tracking{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    .back_button-tracking{
        display: flex;
        height: vw(38.07);
        padding-left: 2.5%;
        color: #707070;
        font-size: vw(18);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: capitalize;
        margin-top: vw(10);
        background-color: transparent;
        background-image: url('../../../../../assets/icons/back.png');
        background-size: auto;
        background-position-x: 20%;
        background-position-y: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .notif_button-tracking{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.paper-tracking{
    flex: 1;
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    position: relative;
}


.menu-item-tracking{
            height: vw(37);
            margin-bottom: vw(10);
            margin-left: vw(12);
            border-radius: vw(15);
            padding-left: vw(32);
                .item-text-tracking{
                    font-family: 'Lato-Bold' !important;
                    font-style: normal;
                    font-size: vw(15);
                    line-height: vw(18);
                    padding: 0 !important;
                }
                .item-icon-tracking{
                    height: vw(16.31);
                }
                .menu-item-tracking:hover{
                    background-color: map-get($colors , primary);
                }
                .icon-root-tracking{
                    min-width: vw(10);
                    margin-right: vw(10);
                }
}
.menu-item-selected-tracking{
            height: vw(37);
            margin-bottom: vw(10);
            margin-left: vw(50);
            background-color: map-get($colors , primary);
            border-radius: vw(15);
            padding-left: vw(32);
.item-text-tracking{
                font-family: 'Lato-Bold' !important;
                font-style: normal;
                font-size: vw(15);
                line-height: vw(18);
                padding: 0 !important;
}
.item-icon-tracking{
                height: vw(16.31);
}
}

.table-containers-tracking{
    display: flex;
    top: 8%;
    flex-direction: column;
    position: relative;
    .title-containers-tracking{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .title-tracking{
            display: flex;
            width: 50%;
            margin-bottom: 2%;
        }
        .search-containers-tracking{
            flex: 1;
            align-self: flex-end;
            display: inline-flex;
            justify-content: flex-end;
            margin-bottom: 2%;
        }
    }
    
    .filters-containers-tracking{
        display: flex;
        flex-direction: row;
        .dropdowns-containers-tracking{
            display: flex;
            flex-direction: row;
        }
    }
}

.bottom-rows-tracking{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.loading-tracking-container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    transition: opacity 0.3s linear;
    width: 100%;
    margin-top: -5%;
    margin-left: -15%;
}

.plannings-list-containers-tracking{
    margin-top: 1.5vw !important;
    .table-tracking{
        font-size: 0.5vw;
        .table-head{
            border-bottom: vw(20) solid #F4F6F8;
            padding-left: vw(5);
            .table-cell{
                padding: 0;
                height: vw(50);
                font-size: vw(13) !important;
                line-height: vw(16) !important;
                font-family: 'Lato-Bold';
                color: #3C3B3B;
            }
            .checkbox-checked-header{
                color: #3C3B3B;
            }
        }
        .table-body{
            background-color: white;
            .table-row{
                border-bottom: vw(5) solid #F4F6F8;
                .table-cell{
                    padding: 0;
                    height: vw(40);
                    font-size: vw(14) !important;
                    line-height: vw(17) !important;
                    font-family: 'Lato-Bold';
                    color: #3C3B3B;
                }
                .checkbox-checked{
                    color: #3C3B3B;
                }
            }
        }
    }
}

.bottom-row{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: vw(20);
    .btn-assign{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , primary);
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-unassign{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: vw(25);
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        background: #E6E6E6;
        cursor: pointer;
    }
    .btn-assign:hover {
        background-color: map-get($colors, primary-dark);
    }
    .btn-unassign:hover{
        background-color: rgb(233, 105, 73);
    }
    .pagination{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: vw(30);
        .paging{
            display: flex;
            flex-direction: row;
            box-shadow: 0px vw(2) vw(4) rgba(0, 0, 0, 0.161);
            .page-active{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Gotham-Regular';
                background-color: map-get($colors , primary);
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                font-family: 'Gotham-Regular';
                justify-content: center;
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive:hover{
                background-color: map-get($colors , primary);
                cursor: pointer
            }
            .next-page{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                cursor: pointer;
                .arrow-icon{
                    font-size: vw(24);
                }
            }
            .next-page:hover{
                background-color: map-get($colors , primary);
                cursor: pointer;
            }
        }
    }
}
}