@import '../../../../../themes/variables';
@import '../../../../../themes/functions';

.work-highlight-container{
    display: flex;
}

.modal-container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    .modal-content{
        display: flex;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

.title{
    margin-top: vw(19) !important;
    font-family: 'SFUIDisplay-Bold';
    font-size: vw(25);
    line-height: vw(30);
}

.bottom-row{
    // flex: 1;
    // display: flex;
    // align-self: flex-end;
    // flex-direction: row;
    // margin-top: 1vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 40%;
    position: relative;
    .pagination{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 1px;
        .paging{
            display: flex;
            flex-direction: row;
            box-shadow: 0px vw(2) vw(4) rgba(0, 0, 0, 0.161);
            .page-active{
                display: flex;
                align-items: center;
                justify-content: center;
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Gotham-Regular';
                background-color: map-get($colors , primary);
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                font-family: 'Gotham-Regular';
                justify-content: center;
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive:hover{
                background-color: map-get($colors , primary);
                cursor: pointer
            }
            .next-page{
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                width: vw(45.99);
                min-width: vw(45.99);
                height: vw(35.3);
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                cursor: pointer;
                .arrow-icon{
                    font-size: vw(24);
                }
            }
            .next-page:hover{
                background-color: map-get($colors , primary);
                cursor: pointer;
            }
        }
    }
}

.tab-header-notif{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 999;
    flex: 1;
    padding-bottom: vw(20);
    border-bottom: 1.5px solid #E0E0E0;
    .btn-approval{
        display: flex;
        width: vw(153.22);
        height: vw(38.07);
        font-size: vw(18);
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: capitalize;
        margin-top: vw(10);
        background-color: transparent;
        color: #707070;
        background-image: url('../../../../../assets/icons/back.png');
        background-size: auto;
        background-position-x: 8%;
        background-position-y: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .btn-header{
        flex: 1;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
    }
}

.table-container{
    display: flex;
    flex-direction: column;
    position: relative;
    // z-index: 0;
    
    .filters-container{
        display: flex;
        flex-direction: row;
        .dropdowns-container{
            position: absolute;
            display: flex;
            flex-direction: row;
            margin-top: 0 !important;
            .dropdown-container{
                margin-left: vw(27.78);
            }
            .search-container{
                flex: 1;
                align-self: flex-end;
                // margin-left: 1.5vw;
                // width: 45vw !important;
                display: flex;
                justify-content: flex-end;
            }
            .dropdown-container:first-child{
                margin-left: 0;
            }
        }
    }
    .plannings-list-container{
        margin-top: 6vw !important;
        .table{
            font-size: 0.5vw;
            .table-head{
                border-bottom: vw(20) solid #F4F6F8;
                padding-left: vw(5);
                .table-cell{
                    padding: 0;
                    height: vw(50);
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    font-family: 'Lato-Bold';
                    color: #3C3B3B;
                    background-color: white;
                    border-bottom: vw(10) !important;
                }
                .checkbox-checked-header{
                    color: #3C3B3B;
                }
            }
            .table-body{
                background-color: white;
                .table-row{
                    border-bottom: vw(5) solid #F4F6F8;
                    // cursor: pointer;
                    .table-cell{
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                        background-color: white;
                        border-bottom: vw(10) !important;
                    }
                    .checkbox-checked{
                        color: #3C3B3B;
                    }
                }
                .table-row:hover{
                    background-color:map-get($colors, primary);
                }
            }
        }
    }

    .mid-container{
        position: absolute;
        // margin-left: 10%;
        margin-top: 5%;
        width: 100%;
        height: 96%;
        .paper{
            width:100%;
            height: 100%;
        }
        .kartu{
            position: relative;
            // display: flex;
            margin: 20px;
            background-color: aqua;
            width: 90%;
            height: 90%;
            .kartu-title{
                display: absolute;
                flex-direction: column;
                justify-content: left;
                margin-bottom: 27%;
            }
            .kartu-data{
                position: absolute;
                top: 55%;
                margin-right: 20%;
                justify-content: left;
                font-size: 220%;
            }
        }
    }
    
}

