@import '../../../themes/functions';
@import '../../../themes/variables';

.edit-button-row{
    display: flex;
    justify-content: flex-end;
    height: vw(30);
    width: 100%;
    .edit-button{
        height: vw(30);
        width: vw(30);
        background-image: url('../../../assets/icons/edit.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (min-width: 600px) and (max-width: 1025px) {
    .edit-button-row{
        display: flex;
        justify-content: flex-end;
        height: vw-tab(30);
        width: 100%;
        .edit-button{
            height: vw-tab(30);
            width: vw-tab(30);
            background-image: url('../../../assets/icons/edit.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: 599px) {    
    .edit-button-row{
        display: flex;
        justify-content: flex-end;
        height: vw-mobile(20);
        width: 100%;
        .edit-button{
            height: vw-mobile(20);
            width: vw-mobile(20);
            background-image: url('../../../assets/icons/edit.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
