.site-text-content{
    display: inline-flex;
    width: 100%;
    height : 100%;
    line-height : 70px;
    border-bottom: 0.5px solid;
    .site-text-content:hover{
        background-color: steelblue;
    }
    .ice-face{
        // display: flex;
        position: inherit;
        width: 31px;
        height: 31px;
        left: 465px;
        top: 186px;
        padding: 10px;
        padding-top: 20px;
    }
}