@import '../../themes/functions';
@import '../../themes/variables';

.modal-container-approve{
    width: fit-content;
    height: fit-content;
    margin: 12% 0 0 38%;
    .approve-confirmation-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .confirmation-modal-approve{
            width: vw(519);
            background-color: white;
            margin: auto;
            border-radius: vw(15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: vw(15) vw(24) vw(30) vw(24);
            .confirmation-container-approve{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                .confirmation-title-approve{
                    margin: 0;
                    padding-top: vw(20);
                    color: #3C3B3B;
                    font-family: 'Lato-Bold';
                    font-style: normal;
                    font-size: 24px;
                    line-height: 29px;
                }
                .confirmation-title-approve2{
                    margin: 0;
                    padding-top: vw(5);
                    color: #3C3B3B;
                    font-family: 'Lato-Bold';
                    font-style: normal;
                    font-size: 24px;
                    line-height: 29px;
                }
                .confirmation-image-approve{
                    width: vw(200);
                    margin-top: vw(16);
                    margin-bottom: vw(25);
                }
                .confirmation-caption-approve{
                    margin: 0;
                    font-family: 'Lato-Regular';
                    opacity: 0.51;
                    color: #3C3B3B;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }
    .btn-row{
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-top: vw(20);
        width: 100%;
        .button-rejected{
            display: flex;
            text-transform: capitalize;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: vw(45.07);
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            font-family: 'Lato-Regular';
            background-color: #F2F2F4;
            color: #1D1D1D;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-rejected:hover {
            background-color: rgb(227, 227, 230);
        }
        .button-approved{
            display: flex;
            text-transform: capitalize;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: vw(45.07);
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-approved:hover {
            background-color: map-get($colors, primary-dark);
        }
    }
}

@media (min-width: 600px) and (max-width: 1025px) {    
    .modal-container-approve{
        width: fit-content;
        height: fit-content;
        margin: auto;
        .approve-confirmation-content{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            .confirmation-modal-approve{
                width: vw-tab(450);
                height: vw-tab(300);
                background-color: white;
                margin: auto;
                border-radius: vw-tab(5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: vw-tab(15) vw-tab(24) vw-tab(30) vw-tab(24);
                .confirmation-container-approve{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;   
                    .confirmation-title-approve{
                        margin: 0;
                        font-size: vw-tab(33);
                        font-family: 'SFUIDisplay-Bold';
                        color: #3C3B3B;
                    }
                    .confirmation-image-approve{
                        width: vw-tab(150);
                        margin-top: vw-tab(16);
                        margin-bottom: vw-tab(25);
                    }
                    .confirmation-caption-approve{
                        margin: 0;
                        font-size: vw-tab(20);
                        font-family: 'SFUIDisplay-Regular';
                        text-align: center;
                        opacity: 0.5;
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) {    
    .modal-container-approve{
        width: fit-content;
        height: fit-content;
        margin: auto;
        .approve-confirmation-content{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            .confirmation-modal-approve{
                margin: 0;
                width: vw-mobile(215);
                height: vw-mobile(200);
                background-color: white;
                border-radius: vw-mobile(15);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: vw-mobile(10);
                .confirmation-container-approve{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;   
                    .confirmation-title-approve{
                        margin: 0;
                        font-size: vw-mobile(20);
                        font-family: 'SFUIDisplay-Bold';
                        color: #3C3B3B;
                    }
                    .confirmation-image-approve{
                        width: vw-mobile(100);
                        margin-top: vw-mobile(5);
                        margin-bottom: vw-mobile(10);
                    }
                    .confirmation-caption-approve{
                        margin: 0;
                        font-size: vw-mobile(15);
                        font-family: 'SFUIDisplay-Regular';
                        text-align: center;
                        opacity: 0.5;
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}