@import '~themes/variables';
@import '~themes/functions';

.work-highlight-container{
    display: flex;
}

.modal-container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    .modal-content{
        display: flex;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

.header-row{
    display: flex;
    flex-direction: row;
    .btn-planning-assignment{
        background-color: white;
        text-transform: none;
        font-family: 'Lato-Bold';
        color: #3C3B3B;
        font-size: vw(15);
        line-height: vw(18);
        width: vw(200.53);
        height: vw(48);
        margin-right: vw(21.47);
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
    }
    .btn-planning-assignment:hover{
        background-image: url('~assets/imgs/btn-background.png');
        background-repeat: no-repeat;
        background-size: vw(210) vw(57);
        background-position-x: -0.2vw;
        color: white;
        @extend .btn-planning-assignment;
    }
    .btn-planning-assignment-active{
        background-image: url('~assets/imgs/btn-background.png');
        background-repeat: no-repeat;
        background-size: vw(210) vw(57);
        background-position-x: -0.2vw;
        color: white;
        @extend .btn-planning-assignment;
    }
}

.title{
    margin-top: vw(19) !important;
    font-family: 'SFUIDisplay-Bold';
    font-size: vw(25);
    line-height: vw(30);
}

.bottom-row{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: vw(20);
    .btn-assign{
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        background-color: map-get($colors , primary);
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        cursor: pointer;
    }
    .btn-unassign{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: vw(25);
        width: vw(164.22) !important;
        height: vw(33.07) !important;
        font-size: vw(13) !important;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        text-transform: none;
        box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
        border-radius: 0.4vw;
        background: #E6E6E6;
        cursor: pointer;
    }
    .btn-assign:hover {
        background-color: map-get($colors, primary-dark);
    }
    .btn-unassign:hover{
        background-color: rgb(233, 105, 73);
    }
    .pagination-input{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: vw(30);
        .paging-input{
            display: flex;
            flex-direction: row;
            box-shadow: 0px vw(2) vw(4) rgba(0, 0, 0, 0.161);
            .page-active-input{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Gotham-Regular';
                background-color: map-get($colors , primary);
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive-input{
                width: 26px;
                height: 25px;
                background-color: white;
                display: flex;
                align-items: center;
                font-family: 'Gotham-Regular';
                justify-content: center;
                font-size: vw(13);
                line-height: vw(16);
                border-radius: 0;
                cursor: pointer
            }
            .page-inactive:hover{
                background-color: map-get($colors , primary);
                cursor: pointer
            }
            .next-page{
                width: 26px;
                height: 25px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                cursor: pointer;
                .arrow-icon{
                    font-size: vw(24);
                }
            }
            .next-page:hover{
                background-color: map-get($colors , primary);
                cursor: pointer;
            }
        }
    }
}

.table-container{
    display: flex;
    flex-direction: column;
    position: relative;
    .filters-container{
        display: flex;
        flex-direction: row;
        .dropdowns-container{
            position: absolute;
            display: flex;
            flex-direction: row;
            margin-top: 0 !important;
            .dropdown-container{
                margin-left: vw(27.78);
            }
            .search-container{
                flex: 1;
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
            .dropdown-container:first-child{
                margin-left: 0;
            }
        }
    }
}