.mid-woman{
    display: flex;
    position: absolute;
    width: 360px;
    height: 196px;
    left: 60%;
    top: 144px;
}
.text-1-tracking{
    display: flex;
    position: absolute;
    left: 70.42%;
    right: 18.74%;
    top: 58.91%;
    bottom: 33.75%;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #707070;
    opacity: 0.8;
}
.text-2-tracking{
    display: flex;
    position: absolute;
    left: 67.57%;
    right: 15.96%;
    top: 68.02%;
    bottom: 22.5%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    opacity: 0.8;
}