$colors: (
  primary:        #FFD500,
  primary-dark:   rgb(255, 174, 0),
  page-background:#F4F6F8,
  secondary:      #32db64,
  third:          #6495ED,
  third-dark:     rgb(12, 86, 233),
  nyellow:        #FFD500,
  blueband:       #4DA1FF,
  danger-hover:   #f53d3d,
  danger:         #F96567,
  light:          #f4f4f4,
  dark:           #222,
  black:          #000000,
  gray: 	        #F1F1F1,
  norange:        orange,
  delete:         #FF736A,
  del-permanent:  #E76E54,
  ndelete:        #EF5050,
  ut-color:       rgb(244, 203, 0)
);

$dimensions: (
  page-title: 1.3vw,
  page-content: 0.78vw
)