.head-containers{
    display: flex;
    position: relative;
    z-index:3;
    background-image: url('../../../../../../assets/icons/Arrow_Left.png');
    background-size: 0.5%;
    background-position-x: 0.3%;
    background-position-y: center;
    background-repeat: no-repeat;
}

.table-containers{
    display: flex;
    top: 8%;
    flex-direction: column;
    position: relative;
    z-index: 3;
    .title-containers{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        .title{
            display: flex;
            width: 50%;
            margin-bottom: 2%;
        }
        .search-containers{
            flex: 1;
            align-self: flex-end;
            // margin-left: 20vw;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2%;
            // width: 50%;
        }
    }
    
    // .base-button-containers{
    //     flex: 1;
    //     align-self: flex-end;
    //     display: flex;
    //     justify-content: flex-end;
    // }
    .filters-containers{
        display: flex;
        flex-direction: row;
        .dropdowns-containers{
            // position: absolute;
            display: flex;
            flex-direction: row;
        }
    }
}

.bottom-rows{
    // flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: vw(20);
    width: 100%;
}