@import '~themes/functions';
@import '~themes/variables';

.assign-date-modal{
    position: 'absolute';
    width: vw(400);
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: vw(20);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: vw(30);
    .ut-underline{
        margin-top: vw(1.5);
        margin-bottom: vw(10);
        width: vw(8);
        height: vw(20);
        background-color: map-get($colors, primary);
    }
    .top-row{
        display: flex;
        justify-content: space-between;
        height: vw(30);
    }
    .teks-middle-date{
        margin-top: vw(20);
        display: flex;
        width:100%;
        .teks-left-date{
            display: flex;
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
        }
        .teks-right-date{
            display: flex;
            margin-left: 47%;
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
        }
    }
    .boxa{
        margin-top: vw(1.5);
        margin-bottom: vw(10);
        width: vw(8);
        height: vw(20);
        background-color: map-get($colors, primary);
        z-index: -1;
    }
    .top-midel{
        margin-top: vw(5);
        display: flex;
        width: 100%;
        .label-error{
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: map-get($colors, ndelete);
        }
        .dates{
            width: 110.39px;
            height: 28.84px;
            border-radius: 4px;
            box-shadow: inset 0 2px 2px #e9e9e9;
            border: 1px solid #aeaeae;
            padding-left: 30px;
            background-image: url('~assets/icons/ic_date.png');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position-x: 8%;
            background-position-y: center;
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: #3C3B3B;
            opacity: 0.5;
        }
        .dates2{
            margin-left: 20%;
            width: 110.39px;
            height: 28.84px;
            border-radius: 4px;
            box-shadow: inset 0 2px 2px #e9e9e9;
            border: 1px solid #aeaeae;
            padding-left: 30px;
            background-image: url('~assets/icons/ic_date.png');
            background-size: 10px;
            background-repeat: no-repeat;
            background-position-x: 8%;
            background-position-y: center;
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: #3C3B3B;
            opacity: 0.5;
        }
    }

    .label-error{
        margin-top: vw(5);
        display: flex;
        width: 100%;
        .label-error1{
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: map-get($colors, ndelete);
        }
        .label-error2{
            margin-left: 12%;
            font-family: 'Lato-Regular';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: map-get($colors, ndelete);
        }
    }
    
    .select-input-title{
        margin: 0;
        margin-right: vw(17);
        width: 60%;
        font-family: 'Lato-Bold';
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
    }

    .bottom-rows-date{
        display: flex;
        margin-top: vw(30);
        .btn-search-date{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 60%;
            width: 35%;
            height: vw(33.07) !important;
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            text-transform: none;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            border-radius: 0.4vw;
            cursor: pointer;
        }
        .btn-search-date:hover {
            background-color: map-get($colors, primary-dark);
        }
        .btn-search-date-disabled{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 60%;
            width: 35%;
            height: vw(33.07) !important;
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            text-transform: none;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            border-radius: 0.4vw;
            cursor: pointer;
            opacity: 0.5;
            color: black;
        }
    }
}