@import '~themes/variables';
@import '~themes/functions';

.root{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    .tabsRoot {
        border-bottom: 1px solid #e8e8e8;
      .tabsIndicator{
        background-color : #1890ff;
        .tabRoot {
            text-transform : initial;
            min-width: 72;
            font-size: 100;
            margin-right: spacing unit($number: 4);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple UI Emoji', 'Apple Color Emoji','Segoe UI Symbol';
        }
      }
    }
}

.tab-site{
    display: flex;
    .label-site{
        font-family: 'Lato-Bold';
        font-size: vw(24);
        line-height: vw(24);
    }
}

.paper-revision{
    margin-top: vw(35);
    border: 1.5px solid #E0E0E0;
    background-color: transparent;
    border-radius: 8px;
    .revision-container{
        margin: 0 vw(20);
        .rev-title-container{
            margin-top: vw(20);
            display: inline-flex;
            width: 100%;
            .title-content{
                display: inline-flex;
                width: 70%;
                .ut-underline-rev{
                    margin-top: 4px;
                    margin-bottom: vw(10);
                    width: vw(8);
                    height: 20px;
                    background-color: map-get($colors, primary);
                }
                .revision-title{
                    margin-left: vw(17);
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .revision-search{
                width: 40%;
                display: flex;
                align-self: flex-end;
            }
        }
    }
}

.tab-container-site{
    display: flex;
    width: 76%;
    left: 24%;
    position: absolute;
    z-index: 1050;
    justify-content: flex-end;
}

.table-detail-site{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    width: 100%;
    .site-container{
        display: flex;
        flex-direction: row;
        margin-top: vw(41.93);
        .total-data-container{
            display: inline-flex;
            border-radius: vw(8) !important;
            background-color: rgba(255, 213, 0, 0.25);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.078);
            width: 100%;
            height: 51px;
            align-items: center;
            justify-content: center;
            .text-total{
                font-family: 'Lato-Bold';
                font-weight: bold;
                font-size: 25px;
                line-height: 30px;
                color: #3C3B3B;
            }
            .text-tabs{
                padding-left: vw(10);
                font-family: 'Lato-Regular';
                font-size: 25px;
                line-height: 30px;
                color: #3C3B3B;
            }
        }
        .base-button{
            flex: 1;
            align-self: flex-end;
            display: flex;
            justify-content: flex-end;
        }
    }
    .filters-detail-site{
        display: flex;
        flex-direction: row;
        .dropdowns-detail-site{
            width: 100%;
            display: flex;
            flex-direction: row;
            .dropdown-detail-site{
                margin-left: 0.8vw;
            }
            .search-detail-site{
                flex: 1;
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
            }
            .dropdown-detail-site:first-child{
                margin-left: 0;
            }
        }
    }
    .list-detail-empty{
        width: auto;
        margin-bottom: 1.8vw !important;
    }

    .empty-list-rev{
        margin-top: 1.8vw !important;
    }
    
    .plannings-list-detail{
        .table{
            font-size: 0.5vw;
            .table-head{
                border-bottom: vw(20) solid #F4F6F8;
                padding-left: vw(5);
                .table-cell{
                    padding: 0;
                    height: vw(50);
                    font-family: 'Lato-Regular';
                    font-style: normal;
                    font-weight: bold;
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    color: #494949;
                }.table-cell-pk{
                    padding: vw(0) vw(0) vw(0) vw(15);
                    height: vw(50);
                    font-family: 'Lato-Regular';
                    font-style: normal;
                    font-weight: bold;
                    font-size: vw(13) !important;
                    line-height: vw(16) !important;
                    color: #494949;
                }
                .table-cell-checkbox{
                    padding: 0;
                    width: 0;
                }
                .checkbox-checked-header{
                    color: #3C3B3B;
                }
            }
            .table-body{
                background-color: white;
                .table-row{
                    border-bottom: vw(5) solid #F4F6F8;
                    .table-cell{
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .table-cell-short{
                        width: vw(60);
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .table-cell-pk{
                        padding: vw(0) vw(0) vw(0) vw(15);
                        height: vw(50);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .table-cell-long{
                        width: 150px;
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .table-cell-cust{
                        width: 190px;
                        padding: 0;
                        height: vw(40);
                        font-size: vw(14) !important;
                        line-height: vw(17) !important;
                        font-family: 'Lato-Bold';
                        color: #3C3B3B;
                    }
                    .table-cell-checkbox{
                        padding: 0;
                        width: 38px;
                    }
                    .checkbox-checked{
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}