@import '../../themes/functions';
@import '../../themes/variables';

.modal-unapprove{
    width: fit-content;
    height: fit-content;
    margin: auto;
    .unapprove-confirmation-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .confirmation-modal-unapprove{
            width: vw(519);
            // height: vh(481);
            background-color: white;
            margin: auto;
            border-radius: vw(15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: vw(15) vw(24) vw(30) vw(24);
            .confirmation-container-unapprove{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex: 1;
                .confirmation-title-unapprove{
                    line-height: vw(20);
                    margin: 0;
                    padding-top: vw(20);
                    font-size: vw(28);
                    font-family: 'SFUIDisplay-Bold';
                    color: #3C3B3B;
                }
                .confirmation-image-unapprove{
                    width: vw(175);
                    margin-top: vw(16);
                    margin-bottom: vw(25);
                }
                .title-success-unapprove{
                    line-height: vw(20);
                    margin-top: vw(38);
                    font-size: vw(28);
                    font-family: 'SFUIDisplay-Bold';
                    color: #3C3B3B;
                }
                .confirmation-success-unapprove{
                    margin-top: vw(30);
                    margin-bottom: vw(35);
                }
                .confirmation-caption-unapprove{
                    margin: 0;
                    font-size: vw(20);
                    font-family: 'SFUIDisplay-Regular';
                    opacity: 0.5;
                    text-align: center;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
    .btn-row{
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-top: vw(20);
        width: 100%;
        .button-edit-lt{
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            width: 50%; //vw(100.22);
            height: vw(45.07);
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: #F2F2F4;
            color: #1D1D1D;
            border: 1px solid map-get($colors, primary);
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-edit-lt:hover {
            background-color: map-get($colors, primary);
            color: white;
        }
        .button-sap-issue{
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            width: 50%; //vw(170.22);
            height: vw(45.07);
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: #F2F2F4;
            color: #1D1D1D;
            border: 1px solid #FC9517;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-sap-issue:hover {
            background-color: #FC9517;
            color: white;
        }
        .button-yes{
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            width: 40%; //vw(100.22);
            height: vw(45.07);
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: #F2F2F4;
            color: #1D1D1D;
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-yes:hover {
            background-color: rgb(227, 227, 230);
        }
        .button-no{
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            width: 60%; //vw(170.22);
            height: vw(45.07);
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
        .button-no:hover {
            background-color: map-get($colors, primary-dark);
        }
        .button-continue{
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            width: 100%; //vw(170.22);
            height: vw(45.07);
            font-size: vw(13) !important;
            font-weight: bold;
            line-height: vw(16) !important;
            font-family: 'Lato-Regular';
            background-color: map-get($colors , primary);
            box-shadow: 0px vw(3) vw(6) rgba(0, 0, 0, 0.161);
            cursor: pointer;
        }
    }
    .labelMax{
        margin-top: 1%;
        margin-left:50%;
        font-size: vw(13) !important;
        font-weight: bold;
        line-height: vw(16) !important;
        font-family: 'Lato-Regular';
        color: red;
    }
}

@media (min-width: 600px) and (max-width: 1025px) {    
    .modal-unapprove{
        width: fit-content;
        height: fit-content;
        margin: auto;
        .unapprove-confirmation-content{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            .confirmation-modal-unapprove{
                width: vw-tab(450);
                height: vw-tab(300);
                background-color: white;
                margin: auto;
                border-radius: vw-tab(5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: vw-tab(15) vw-tab(24) vw-tab(30) vw-tab(24);
                .confirmation-container-unapprove{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;   
                    .confirmation-title-unapprove{
                        margin: 0;
                        font-size: vw-tab(33);
                        font-family: 'SFUIDisplay-Bold';
                        color: #3C3B3B;
                    }
                    .confirmation-image-unapprove{
                        width: vw-tab(150);
                        margin-top: vw-tab(16);
                        margin-bottom: vw-tab(25);
                    }
                    .confirmation-caption-unapprove{
                        margin: 0;
                        font-size: vw-tab(20);
                        font-family: 'SFUIDisplay-Regular';
                        text-align: center;
                        opacity: 0.5;
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) {    
    .modal-unapprove{
        width: fit-content;
        height: fit-content;
        margin: auto;
        .unapprove-confirmation-content{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            .confirmation-modal-unapprove{
                margin: 0;
                width: vw-mobile(215);
                height: vw-mobile(200);
                background-color: white;
                border-radius: vw-mobile(15);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: vw-mobile(10);
                .confirmation-container-unapprove{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex: 1;   
                    .confirmation-title-unapprove{
                        margin: 0;
                        font-size: vw-mobile(20);
                        font-family: 'SFUIDisplay-Bold';
                        color: #3C3B3B;
                    }
                    .confirmation-image-unapprove{
                        width: vw-mobile(100);
                        margin-top: vw-mobile(5);
                        margin-bottom: vw-mobile(10);
                    }
                    .confirmation-caption-unapprove{
                        margin: 0;
                        font-size: vw-mobile(15);
                        font-family: 'SFUIDisplay-Regular';
                        text-align: center;
                        opacity: 0.5;
                        color: #3C3B3B;
                    }
                }
            }
        }
    }
}