@import '../../../../../themes/variables';
@import '../../../../../themes/functions';

.table{
    margin-top: vw(35);
}

.table-rev{
  margin-top: vw(5);
}

.table-cell-rev{
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0;
  height: vw(40);
  font-size: vw(14) !important;
  line-height: vw(17) !important;
  font-family: 'Lato-Bold';
  color: #DB3434;
  background-image: url('../../../../../assets/icons/must_revised.png');
  background-size: vw(14);
  background-position-x: 55%;
  background-position-y: center;
  background-repeat: no-repeat;
}

.is-checkbox{
    background-color: white;
    width: vw(124.22) !important;
    height: vw(35.07) !important;
}

.loading-container{
  left: 43%;
  position: relative;
  width:50%;
}